 

html,
body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 60px;
  cursor: pointer;
}

.header {
  padding: 1rem;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 50px; */
}

.header span {
  margin: 5px;
}

.footer {
  margin-top: 50px;
}

a{
  text-decoration:none !important;
  color: black !important;
}

.temp-box{
  border: 0.3px solid grey;
  height: 200px;
  width: 100vw;
  text-align: center;
}

.search-bar {
  width: 400px;
}
