/* @charset "UTF-8";
@font-face {
  font-family: NanumSquareRound;

  src: url("../fonts/NanumSquareRoundB.woff") format("woff");
  
}

* {
  font-family: NanumSquareRound;
  letter-spacing: 0.1px; 
}

.profile-img {
    width: 120px;
}

.profile-mileage {
  font-size: medium;
}



.joined-group-btn {
  border: 3px solid #FFB685;
  background-color: white !important;
} */